# Ansible managed
# /etc/systemd/system/nextcloud-cron.service
[Unit]
Description=Nextcloud cron.php job

[Service]
User={{ cinux_nextcloud_webserver_user }}
ExecStart=/usr/bin/php -f {{ cinux_nextcloud_webserver_root }}/nextcloud/cron.php

[Install]
WantedBy=basic.target